#lblConnectionStatus {
    border: 1px solid #E6E6E6;
    border-radius: 3px;
}

QPushButton {
    background: white;
    height: 30px;
    border: 1px solid #E6E6E6;
    border-radius: 3px;
}

QPushButton:disabled
{
    background: #dee1eb;
}

QPushButton:hover {
    background: #F2F2F2;
}

QComboBox {
    height: 30px;
    background: white;
    border: 1px solid #E6E6E6;
    border-radius: 3px;
}

QComboBox::drop-down
{
    background-color: white;
}

#lblMeasureStatus {
    color: #616160;
    font-size: 16px;
}

#lblMeasureResult {
    color: black;
    font-size: 32px;
}

